<%= form_with(model: user_intake, local: true) do |form| %>
  <% if user_intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_intake.errors.count, "error") %> prohibited this user_intake from being saved:</h2>

      <ul>
      <% user_intake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select(:product_id, current_user.products, :id, :name) %>
  </div>

  <%=link_to "商品登録", new_product_path%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
